In [14]:
from transformers import pipeline
import pandas as pd

Create pipeline and function to get the details from a job posting

In [24]:
qa_pipeline = pipeline("question-answering")

def get_details(job_posting):
    context = job_posting
    question1 = 'What is the salary range?'
    question2 = 'What is the job title?'
    question3 = 'What is the location?'
    
    salary = qa_pipeline(question=question1, context=context)['answer']
    title = qa_pipeline(question=question2, context=context)['answer']
    location = qa_pipeline(question=question3, context=context)['answer']
    
    return {'Salary': salary, 'Job title':title, 'Location': location}

No model was supplied, defaulted to distilbert/distilbert-base-cased-distilled-squad and revision 564e9b5 (https://huggingface.co/distilbert/distilbert-base-cased-distilled-squad).
Using a pipeline without specifying a model name and revision in production is not recommended.
Device set to use cpu

Read the csv with the postings and do a bit of visualization

In [17]:
df = pd.read_csv('job_postings.csv')

In [18]:
df.describe()

,posting_date,company_name,job_description
count,10,10,10
unique,10,10,10
top,2024-09-01,Nexarion Inc.,We're on the hunt for a talented software engi...
freq,1,1,1

In [19]:
df

,posting_date,company_name,job_description
0,2024-09-01,Nexarion Inc.,We're on the hunt for a talented software engi...
1,2024-08-25,Eonix Solutions,About Us: We're a team of innovators and probl...
2,2024-09-10,Kaidon Technologies,Job Title: Product Manager\r\nLocation: Redmon...
3,2024-08-30,Lumina Creative,Our company is a dynamic and innovative startu...
4,2024-09-05,Voltara Inc.,Job Summary: We're seeking an electrical engin...
5,2024-09-15,Aurora Media,Aurora Media is a leading provider of digital ...
6,2024-08-20,Pulsar Marketing,We're looking for a marketing manager to join ...
7,2024-09-20,Helix Research,Helix Research is a cutting-edge research inst...
8,2024-08-15,Flux Solutions,Job Summary: We're seeking a sales representat...
9,2024-08-10,Cygnus Technologies,Cygnus Technologies is a leading provider of i...

For each description, run the previous function and print the result

In [25]:
for description in df['job_description']:
    details = get_details(description)
    print(details)

{'Salary': '$120,000 - $180,000 per year', 'Job title': 'software engineer', 'Location': 'Cupertino, CA'}
{'Salary': '$100,000 - $160,000 per year', 'Job title': 'data scientist', 'Location': 'New York, NY'}
{'Salary': 'budget', 'Job title': 'Product Manager', 'Location': 'Redmond'}
{'Salary': 'strong portfolio', 'Job title': 'career', 'Location': 'Seattle, WA'}
{'Salary': '$100,000 - $160,000 per year', 'Job title': 'Job Summary', 'Location': 'Palo Alto, CA. As an electrical engineer at Voltara'}
{'Salary': 'Comprehensive benefits package', 'Job title': 'content writer', 'Location': 'Los Angeles, CA'}
{'Salary': '$90,000 - $140,000 per year', 'Job title': 'marketing manager', 'Location': 'Pulsar'}
{'Salary': 'retirement savings', 'Job title': 'research scientist', 'Location': 'San Jose'}
{'Salary': 'competitive', 'Job title': 'Job Summary', 'Location': 'Dallas, TX'}
{'Salary': 'Salary is negotiable', 'Job title': 'hardware engineer', 'Location': 'Boston, MA'}